In [ ]:
#print("this is saikrishna tangudu")
a=input("num1:")
b=input("num2:")
s=a+b 
print(s)

# NOTEBOOK BASICS
* **SAIKRISHNA**
* *TANGUDU*
* ***APSSDC***
    * AWS
    * alexa


1. dddddddd
2. jhgug8guytui


[awslogo](aws.png)
![awslogo](aws.png)

<img src="aws.png" width="30px" height="30px" style="float:right">


`printf("saikrishna")`

## PYTHON BASICS
##### VERSION 3.7

In [ ]:
print("helloo! gd evening",'tttt',end="%%%%%%%%%%%%")
print('This is saikrishna')

In [ ]:
n1

### ASSIGNMENT

In [ ]:
n1=123456
n2=n3=n4=n1
a,b,d=123,321,231
print(a,b,d)

### conditionals

In [ ]:

a>12

### data  types
* string
* float
* integer

In [ ]:
a=23.677
type(a)
str(int(a))

In [ ]:
a=12.777**66
a

In [3]:
#greatest of three numbers
k=int(input('n1:'))
p=int(input('n2:'))
n=int(input('n1:'))
l=[]
l.append(p)
l.append(n)
l.append(k)
max(l)

n1:23
n2:24
n1:23

24

In [7]:
k=int(input("enter year"))
if(k%100!=0 and k%4==0):
    print(k,"is a leap year")
elif(k%400==0):
        print(k,"is a leap year")
else:
    print(k,"is not leap year")

enter year2016
2016 is a leap year

In [ ]:
k=int(input("enter num"))
if(k%10==0):
    print(k, "is mutiple")
else:
    print(k, "is not mutiple")

In [ ]:
k=int(input("enter num"))
if(1000%k==0):
    print(k, "is mutiple")
else:
    print(k, "is not mutiple")